<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<%include nav%>
<div>
  <a href="/login">登录</a>
  <a href="/reg">注册</a>
</div>

  </body>
</html>
