<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<%include nav%>

<div>新闻列表</div>
  <ul class="newslist">
    <% newslists.forEach(function(item){ %>
          <li><%- item.Id%>: <%- item.newtitle%></li>
    <% }) %>

  </ul>
  </body>
</html>
